<div class = "container-fluid" ><br>
  
    <h2 align="center">Event Details</h2><hr>
    <p class = "lead" >
      <label><strong>Event Name : </strong></label>
      <%= @event.name %>  
    </p>
    <p class = "lead" >
      <label><strong>Event Description : </strong></label>
      <%= @event.description %>  
    </p>
    <p class = "lead" >
      <label><strong>Event Date : </strong></label>
      <%= @event.event_date %>  
    </p>
    <div>
      <%=link_to'Back',{controller:'events',action:'index'}%>
    </div>

</div>
