<html>
  <head>
    <link rel="styles.css">
  <head>
  <body id="b2">
    <div class="container">
      <u><h2>Order Details</h2></u>
      <div>
        <label>Order Quantity : </label>
        <%=@order.quantity%>  
      </div>
      <div>
        <label>Total Price : </label>
        <%=@order.total_price%>  
      </div>
      <div>
      <div>
      <label>Product Status : </label>
        <%=@order.order_status%>  
      </div>
      <div>
      <div>
        <%=link_to'Back',{controller:'orders',action:'index'}%>
      </div>
    </div>
  </body>
<html>
