<div class = "container-fluid" ><br>

  <h2 align="center">Category Details</h2><hr><br>
  <p class = "lead" >
    <label><strong>Category Name : </strong></label>
    <%= @category.category_name %>  
  </p>
  <%= link_to 'Back', { controller: 'categories', action: 'index'} %>

</div>
