<div class="container">
  <h2>Add Product</h2>

    <div>
      <label>ProductName</label>
      <%=@product.name%>  
    </div>

    <div>
      <label>Price</label>
      <%=@product.price%>
    </div>

    <div>
      <label>Description</label>
      <%=@product.short_description%>
    </div>

  <div>
    <%=link_to'Back',{controller:'products',action:'index'}%>
  </div>
</div>
